<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a href="" class="navbar-brand">School</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/Home/Index" class="nav-link">Ogrenciler</a>
            </li>
            <li class="nav-item">
                <a href="/Home/Create" class="nav-link">OgrenciCreate</a>
            </li>
            <li class="nav-item">
                <a href="/Kurss/Index" class="nav-link">Kurslar</a>
            </li>
            <li class="nav-item">
                <a href="/Kurss/Create" class="nav-link">KursCreate</a>
            </li>
            <li class="nav-item">
                <a href="/KursKayit/Index" class="nav-link">KursKayitları</a>
            </li>
            <li class="nav-item">
                <a href="/KursKayit/Create" class="nav-link">KursCreate</a>
            </li>
            <li class="nav-item">
                <a href="/Ogretmen/Index" class="nav-link">Ogretmenler</a>
            </li>
            <li class="nav-item">
                <a href="/Ogretmen/Create" class="nav-link">OgretmenCreate</a>
            </li>
        </ul>
    </div>
</nav>