@model Kurss

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Baslik" class="form-label"></label>
        <input asp-for="Baslik" class="form-control" />
        <span asp-validation-for="Baslik" class="text-danger"></span>
    </div>

    <div class="mb-3">
    <label asp-for="OgretmenId" class="form-label">Öğretmen</label>
    <select
      asp-for="OgretmenId"
      asp-items="ViewBag.Ogretmenler"
      class="form-select"
    >
      <option value="">Seç</option>
    </select>
  </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>